<script>
  import logo from '../public/Free Icon _ Mona lisa.png';
  import router from 'page';

  import Home from "./pages/Home.svelte";
  import About from "./pages/About.svelte";
  import Paintings from "./pages/Paintings.svelte";
  import PageNotFound from "./pages/PageNotFound.svelte";
  import Header from "./components/Header.svelte";
  import IndividualPainting from "./pages/IndividualPainting.svelte";
  import LogIn from "./pages/LogIn.svelte";
  import MyBids from "./pages/MyBids.svelte";
  import ControlPanel from "./pages/ControlPanel.svelte";
  let page;
   let params;
  let currentRoute;

  router('/', (ctx) => {
    page = Home;
    currentRoute = ctx.pathname;
  });
  router('/about', (ctx) => {
    page = About;
    currentRoute = ctx.pathname;
  });
  router('/paintings',(ctx) => {
    page = Paintings;
    currentRoute = ctx.pathname;
  });

  router('/paintings/:id',(ctx) =>{
    page = IndividualPainting
    currentRoute = ctx.pathname;
    params = ctx.params;
  });
  router('/logIn',(ctx) =>{
    page = LogIn;
    currentRoute = ctx.pathname;
    params = ctx.params;
  });
  router('/bids',(ctx) =>{
    page = MyBids;
    currentRoute = ctx.pathname;
    params = ctx.params
  });
  router('/control-panel',(ctx) => {
    page = ControlPanel;
    currentRoute = ctx.pathname;
    params = ctx.params
  })
  router('/*',(ctx) =>{
    page =  PageNotFound;
    currentRoute = ctx.pathname;
  });


  router.start();
  export {params}
</script>

<main>
  <div class="logo">
    <img src={logo} alt="My Logo" />
  </div>

  <Header active={currentRoute} />
  <svelte:component this={page} {params} />
<!--  <Router>-->
<!--    <Route path="/" component={Home} />-->
<!--    <Route path="/about" component="{About}"/>-->
<!--    <Route path="/login" component="{LogIn}"/>-->
<!--    <Route path="paintings/:id" let:params>-->
<!--      <IndividualPainting id="{params.id}"/>-->
<!--    </Route>-->
<!--    <Route path="/test/:message" let:message >-->

<!--      <PageNotFound message="{message}"/>-->
<!--    </Route>-->
<!--    <ProtectedRoute path="/paintings" component={Paintings} />-->
<!--  </Router>-->


</main>

<style>
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 5px;
    font-family: 'Roboto Thin', sans-serif;
    line-height: 1.6;

  }


  main {
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 2px solid black;

  }

  img {
    height: 8rem;
    width: 8rem;
    margin: 0;
    padding: 0;
    justify-content: left;
  }
  :root {
    --primary-color:darkgray;
  }


</style>
