
<script>
    export let params;
    import Test from "../components/StatCards.svelte";
</script>

<body>
<h1>About Us</h1>
<section class="about">
    <div class=" container grid">
        <div class="about-image">
            <img src="In+The+Conservatory.jpg" class="aboutPic">
        </div>

        <div class="about-text">

            <h1 class="underline">Safe and Sound</h1>
            <p> Exchange, once most prestigious art dealer of the 20th century - now an online platform connecting numerous art enthusiast all over the globe. Our Company has been providing top services in terms of trading and buying original art Pieces throughout the world. </p>

        </div>


    </div>
</section>
<Test/>

</body>

<style>
    .underline {
        text-decoration: underline solid  white;
        text-underline-offset: 5px;
    }

    .about p {
        margin: 10px 0;
    }

    .container.grid{
        max-width: 100%;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
        height: 100%;
        background-color: darkgrey;
        color: white;
        position: relative;

        display: grid ;
        grid-template-columns: 60% 40%;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }


    .aboutPic {
        max-width: 50rem;
        max-height: 50rem;
        margin: 30px;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
    .about .grid {
        overflow: visible;
    }
    .about-text {
        height: 50%;
    }

</style>


