<script>
    import {apiData} from "../stores/stores.js";
    import {loadPaintings} from "../scripts/paintingDataFetchScript.js";
    import {addPainting, deletePainting} from "../scripts/ControlPanelScript.js";
    import Modal from "../components/Modal.svelte";
    import {onMount} from "svelte";


let selectedId;
let message;
let error;
let showDeleteMod = false;
let showAddMod = false;

let painting={

};


    onMount(loadPaintings);

    const handleDelete = async () => {
        await deletePainting(selectedId);
        showDeleteMod = false;
        await loadPaintings();

    }
    function triggerDelete(id){
        selectedId = id;
        showDeleteMod = true;
    }
    function triggerAdd(){
        showAddMod = true
    }
const addNewPainting = async () => {
        await addPainting(painting);
        showAddMod = false;
        await loadPaintings();
}



</script>

<body>
<h2> Welcome to the websites maintainer page!</h2>
<h3> All available paintings </h3>
<div class="container-flex">
    {#if $apiData}
        {#each $apiData as Painting}
            <div class="item">
                {Painting.name}
                <button class="delete" on:click={() => triggerDelete(Painting.id)}>Delete</button>
            </div>
        {/each}
        <button class="add" on:click={() => triggerAdd()}>Add Painting</button>
    {/if}
</div>
<Modal open={showDeleteMod}>
        <div class="warning-mod">
            <h1> Are you sure you want to remove this painting?</h1>
            <button type="button"  data-dismiss="modal" class="close-choice"
                    on:click={ () => showDeleteMod = false}>Close
            </button>
            <button type="button" class="delete-choice"
                    on:click={() => handleDelete()}>Remove painting
            </button>
        </div>
</Modal>
<Modal open={showAddMod}>
    <form>
        <div class="modal-header">
            <h5 class="modal-title">Add</h5>

        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Name</label>
                <input id="name" type="text" bind:value={painting.name} class="form-control" required>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input id="author" type="text" bind:value={painting.author} class="form-control" required>
            </div>
            <div class="form-group">
                <label>Picture url</label>
                <input id="picture-url" type="text" bind:value={painting.picture} class="form-control" required>
            </div>
            <div class="form-group">
                <label>Start Price</label>
                <input id="start-price" type="number" bind:value={painting.startprice} class="form-control" required>
            </div>
            <div class="form-group">
                <label>Start day of the auction</label>
                <input id="start-day" type="date" bind:value={painting.startdate} class="form-control" required>
            </div>
            <div class="form-group">
                <label>Style of the painting</label>
                <input id="email" type="text" bind:value={painting.style} class="form-control" required>
            </div>
            <div class="form-group">
                <label>Bidding end date</label>
                <input id="bidding-end-date" type="date" bind:value={painting.enddate} class="form-control" required>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    on:click={ () => showAddMod = false}>Close
            </button>
            <button type="button" class="btn btn-success"
                    on:click={() => addNewPainting()}>Add
            </button>
        </div>
    </form>
</Modal>





</body>
<style>
    .item {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .delete {
        background-color: #ff3e00;
        color: white;
        border-radius: 7px;
    }

    .delete:hover {
        border-color: white;
        transform: scale(0.98);
    }
    main {
        top: 50px;
        left: 150px;
        position: absolute;
    }

</style>