<script>
    import Showcase from "../components/Showcase.svelte";
    import {onDestroy, onMount} from "svelte";


    let moon;
    let mountain;
    let road;
    let text;

    function scrollEventListener() {
        if (moon && mountain && road && text) {
            let value = window.scrollY;

            moon.style.left = -value * 0.5 + 'px';
            mountain.style.top = -value * 0.15 + 'px';
            road.style.top = value * 0.05 + 'px';
            text.style.top = value * 0.5 + 'px';
        }
    }

    onMount(() => {
        window.addEventListener('scroll',scrollEventListener);
    });

    onDestroy(() => {
        window.removeEventListener('scroll', scrollEventListener)
    })
</script>
<body>
<section>
    <img src="bg.jpg" id="bg">
    <img bind:this={moon} src="moon.png" id="logo">
    <img bind:this={mountain} src="mountain.png" id="mountain">
    <img bind:this={road} src="road.png" id="road">
    <h2 bind:this={text} id="text">Exchange</h2>
</section>
<Showcase/>


</body>

<style>
    *{
        margin: 0;
        padding: 0;
    }

    body{
        background-color: gray;
        min-height: 1500px;
    }
    section{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section:before
    {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(to top,gray,transparent);
        z-index: 10000;
    }
    section:after
    {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:darkgray;
        mix-blend-mode: color;
        z-index: 10000;
    }
    #text
    {
        position: relative;
        color: #fff;
        font-size: 10em;
        z-index: 1;
    }
    section img {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events:none;
    }

</style>

