<script>
    import {userId} from "../stores/stores.js";
    import {onMount} from "svelte";
    import { getOnePainting, placeBidScript} from "../scripts/paintingDataFetchScript.js";
    export let active;
   export let params;
    let painting = {};
    let users
    let promise;
    let bid;
    let id;
    let error;
    let message;
    let test;


    function handleClick(){
        error = null;
        message = null;
          placeBidScript(bid,id,painting.name,$userId).then((response) => {
             if (response.error !== undefined){
                 error = response.error;
             } else {
                 message = 'Bid placed'
             }
         });
    }
   const highestBid = ((data) => {

        let bids;
        bids = data;
        let largest = bids[0];
        for (let i = 1; i < bids.length; i++) {
            if (bids[i] > largest) {
                largest = bids[i];
            }
        }
        return largest;
    })


    onMount(() => {
        getOnePainting().then((res) => {
            painting = res.find(item => item.id == params.id)
            users = painting.Participants
            if (painting.Participants.length === 0 || painting.highestBid.length === 0){
                painting.highestBid = painting.startprice
                test = painting.highestBid


            }else {
                painting.highestBid = highestBid(painting.highestBid)
            }


        });
        id = params.id;
    });

</script>

<body>
<section>

        <div class="paintingContainer-Picture">
            <img class="paintingPic" src={painting.picture}>

        </div>
        <div class="paintingContainer-Text">
            <h1>{painting.name}</h1>
            <h2>{painting.author} </h2>
            <h3>{painting.style}</h3>
            <h4>{"Highest Bid is : "+painting.highestBid+" $"}</h4>


            <h5> Action end date:{painting.enddate}</h5>
            <h5>


            </h5>
        </div>
    <h2 class="bidder-header">Bidders:</h2>
        {#if users}
        {#each users as User}
            <div class="Bidders-display">
                <div class="bidder">
                    {User.username}

                </div>
            </div>
        {/each}
        {/if}


</section>
<input type="number" bind:value={bid}>
<button on:click|preventDefault={handleClick}> Bid</button>
{#if error}
    <p class="error">{error}</p>
{/if}

{#if message}
    <p>{message}</p>
{/if}


</body>
<style>
    section {
        border: solid black 2px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: whitesmoke;
    }

    h1 {
        text-decoration: underline solid black;
    }

    p{
        transform: scale(0.5);
    }
    .bidder-header{
        margin: 0;
        text-decoration: black underline;
        text-underline-offset: 2px;
        text-underline-position:from-font;
    }

    .paintingPic {
        max-width: 30rem;
        max-height: 30rem;
        margin: 10px;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .paintingContainer-Picture {
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
    }
    .error{
        color: red;
    }


</style>


