
<script>
    import {role, token} from "../stores/stores.js";
    import {logIn} from "../scripts/registerScript.js";
    import {userId} from "../stores/stores.js";
    import jwtDecode from "jwt-decode";


    let username;
    let password;
    let error;
    let message;

    function clickHandler( ){
        error = undefined;
        message = undefined;

        logIn(username,password).then((response) => {
            localStorage.setItem('token',response.token);
            let payload = jwtDecode(response.token);
            localStorage.setItem('id',payload.id);
            let rolesList = payload.roles;

            if (response.error !== undefined){
                error = response.error;
            } else {
                rolesList.forEach((item) => {
                    localStorage.setItem('role',item);

                });
                message = 'Login Successful';
            }
        })


    }



</script>
<div class="container-flex">
    <input type="text" bind:value={username} placeholder="username">
    <input type="password" bind:value={password} placeholder="password">

    <h2>
        <button on:click={clickHandler}>Login</button>
    </h2>
</div>

{#if error}
    <p>{error}</p>
{/if}

{#if message}
    <p> {message} </p>
{/if}
<style>
    h2{
        margin: 0;
    }
    .container-flex{
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 20%;
        margin-top: 10px;

    }
</style>