
<script>
    import {onMount} from "svelte";
    import {userId,bidList} from "../stores/stores.js";
    import {getSelectBids, removeBid} from "../scripts/MyBidsScript.js";
    import Modal from "../components/Modal.svelte";


    // List all Elements
    let showRemovePopup = false;
    let selectedId;
    let total = 0;

    onMount(() =>{
        getSelectBids($userId).then(() => {
            $bidList.forEach(bid => {
              total += bid.amount;
            })



        })
    })

    function triggerDelete(id){
        selectedId = id;
        showRemovePopup = true;
    }
const handleRemoveBid = async () => {
        await removeBid(selectedId);
        showRemovePopup = false;
        await getSelectBids($userId);
        console.log("Done")
}

</script>

<body>
<ol>
    {#if $bidList}
        <div class="container-flex">
        {#each $bidList as Bid}
            <div class="bid-container">
                {"ID:"+Bid.id}
                {Bid.painting}
                {Bid.amount+"$"}
                <button class="edit-bid" on:click={ () => triggerDelete(Bid.id)}>Remove Bid</button>
            </div>
        {/each}
        </div>
    {/if}

</ol>
<section class="edit-panel">
<p> Total amount of bids: {total + "$"} </p>
</section>
</body>

<Modal open={showRemovePopup } }>
<div>
<h1> Are you sure you want to remove your bid?</h1>
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
            on:click={ () => showRemovePopup = false}>Close
    </button>
    <button type="button" class="btn btn-success"
            on:click={() => handleRemoveBid()}>Remove bid
    </button>
</div>
</Modal>

<style>


</style>