<script>
    import {apiData,token} from "../stores/stores.js";
    import {onMount} from "svelte";
    import {loadPaintings} from "../scripts/paintingDataFetchScript.js";
    import SearchParamsField from "../components/SearchParamsField.svelte";

    onMount(loadPaintings);
    export let active;
    export let id;
    let bid;
    let data;
    const highestBid = ((data) => {

        let bids;
        bids = data;
        let largest = bids[0];
        for (let i = 1; i < bids.length; i++) {
            if (bids[i] > largest) {
                largest = bids[i];
            }
        }
        return largest;
    })


</script>
<body>

<h1>BID | BUY | SELL </h1>
{#if $token}
<section>
<SearchParamsField/>
</section>
<section class="Main">
    <div class=" flex container">


        {#each $apiData as painting}
        <div class="painting">

            <img src="{painting.picture}">
           <a href="/paintings/{painting.id}">
               {painting.name}
               {highestBid(painting.highestBid)+'$'}
           </a>
        </div>
        {/each}






    </div>
</section>


    {:else }
    <p>No access token </p>
{/if}
</body>

<style>
    p{
        background-color: darkgrey;
    }
    h1{
        text-decoration: underline solid  black;
        text-underline-offset: 10px;
    }
    div{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px;
        color: white;
        position: relative;

    }

    img{

        max-width: 10rem;
        width: 100%;
        height: 100%;
        border: solid 2px black;
        box-sizing: border-box;
    }
    a{
        position: absolute;
        box-sizing: border-box;
        margin-top: 70px;
        color: whitesmoke;
        text-decoration: transparent;
    }

    .painting:hover{
        transform: scale(1.1);

    }



    .container{
        max-height: 100%;
        max-width: 100%;
        border: solid black 2px;
        margin-left: 0;
        margin-right: 0;
        height: 100%;
    }
    .id-holder{
        color: transparent;
        background-color: transparent;
    }


</style>
