<script>
    import {role} from "../stores/stores.js";
    export let active;
</script>



<nav class="navBarMain">
    <ul class="nav-flex">
        <li><a class:active={active === "/"} href="/">Home</a></li>
        <li><a class:active={active === "/about"} href="/about">About</a></li>
        <li>
            <a class:active={active === "/paintings"} href="/paintings">Paintings</a>
        </li>
        <li><a class:active={active === "/bids"} href="/bids">My Bids</a></li>
        {#if $role == 'admin'}
            <li><a class:active={active === "Control Panel"} href="/control-panel">Control Panel</a></li>
        {/if}

        <li class="right"><a class:active={active === "/login"} href="/login">LogIn </a></li>
    </ul>

</nav>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');


    .nav-flex {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .right {
        margin-left: auto;
    }

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }

    h1, h2 {
        font-weight: 300;
        line-height: 1.2;
        margin: 10px 0;
    }

    p {
        margin: 10px 0;
    }

    img {
        width: 100%;
    }
    nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navBarMain {
        background-color: darkgrey;
        color: lightgray;
        height: 70px;
        border: 2px solid black;
        box-sizing: border-box;

    }

    .navBarMain  {
        justify-content: space-around;

    }

    .navBarMain ul {
        display: flex;

    }

    .navBarMain a {
        color: #ffffff;
        padding: 10px;
        margin:  1rem;

    }
    .navBarMain a:hover{
        border-bottom:2px #fff solid;

    }
    .navBarMain a.active {
        border-bottom:2px #fff solid;

    }







</style>