<script>
    import {fade, fly} from "svelte/transition";
    import {quintOut} from "svelte/easing";

    export let open = false;
    export let showBackdrop = true;
    export let onClosed;
</script>


{#if open}
    <div class="modal" >
        <div class="modal-dialog"  in:fly={{ y: -50, duration: 300 }} out:fly={{ y: +50, duration: 300, easing: quintOut }}>
            <div class="modal-content">
                <slot></slot>
            </div>
        </div>
    </div>
    {#if showBackdrop}
        <div class="modal-backdrop show" transition:fade={{ duration: 150 }}></div>
    {/if}
{/if}

<style>
    .modal {
        display: block;
    }
</style>