<script>
    import {getQueryItems, getQueryItemsStyle,getQueryItemsAuthor} from '../scripts/paintingDataFetchScript.js';
    let startprice;
    let style;
    let author;
</script>
<body>
<h3>Search Parameters</h3>
<div class="search params container">
    <div class="price-range">
        <input class="price-range" type="number" name="price-range" bind:value={startprice} placeholder="Price">
        <input type="submit" value="Search" class="search-params" on:click={() => getQueryItems(startprice)}>
    </div>

    <div class="style-param">
        <input class="style-param" type="text" name="style-param" bind:value={style} placeholder="Style">
        <input type="submit" value="Search" class="search-params" on:click={() => getQueryItemsStyle(style)}>
    </div>

    <div class="author-param">
        <input class="author-param" type="text" name="author-price" bind:value={author} placeholder="Author">
        <input type="submit" value="Search" class="search-params" on:click={() => getQueryItemsAuthor(author)}>
    </div>
</div>
</body>
<style>
    body{
        max-height: 100%;
        max-width:100%;
        background-color: darkgrey;
        border: solid 2px black;

    }
    div{
        margin:10px;
        border-radius: 3px;
    }
    input{
        border-radius: 4px;
        border: solid black 2px;
    }
    .search{
        background-color: darkgrey;
        margin: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .search-params{
        border-radius: 3px;
    }
    .search-params:hover{
        transform: scale(1.1);
        background-color: darkgrey;
    }
</style>