<script>
    import {registerUser,logIn,decodeToken} from "../scripts/registerScript.js";
    import {token} from "../stores/stores";



   let username;
   let password;
   let email;
   let promise;
   let error;
   let message;
   function handleClick(){
       message = undefined;
       error = undefined;
        promise = registerUser(username,email,password).then((response)=>{

            if (response.error !== undefined){
                error = response.error;
            } else {
                message = 'Registered successfully with id '+response.id

                logIn(username,password).then((response) =>{
                    localStorage.setItem('token',response.token)
                    let payload =  decodeToken(response.token)
                        localStorage.setItem('id',payload.id)
                        localStorage.setItem('role',payload.roles)


                });
            }

        });

   }


</script>

<section class="showcase">
    <div class="container grid">
        <div class="showcase-text ">
            <h1> Early Pioneers</h1>
            <img src="image.jpg">
            <p>
                Exchange has been the most prestigious and well know and respected art dealer in Europe. Since 1816 Exchange has been providing strictly controlled environment for art dealings.
            </p>
            <a href="/about" class="button">Read More</a>
        </div>

        <div class=" showcase-form card">
            <h2>Register Here</h2>
            <form on:submit|preventDefault={handleClick}>

                <div class="form-control">
                    <input type="text"  bind:value={username} name="username" placeholder="Username" required>
                </div>

                <div class="form-control">
                    <input type="email" bind:value={email} name="email" placeholder="E-mail" required>
                </div>

                <div class="form-control">
                    <input type="password" bind:value={password} name="password" placeholder="Password"  required>
                </div>
                <input type="submit" value="Register" class="register-submit-home" >
                    {#if error}
                        <p class="error">{error}</p>

                    {/if}
                {#if message}
                    <p class="success">{message}</p>
                {/if}

            </form>
        </div>
    </div>
</section>

<style>
    /* Showcase Style */
    .showcase{
        height: 600px;
        background-color: gray;
        position: relative;
    }
    .showcase h1{
        font-size: 40px;
        color: white;
        text-shadow: 2px 8px 4px #000000;
    }
    .showcase h2{
        color: black;
    }
    .showcase p {
        margin: 20px 0;
    }
    .showcase a{
        color: white;

    }
    input::placeholder {
        color: darkgrey;
    }
    .showcase-form{
        position: relative;
        top: 60px;
        height: 350px;
        padding: 40px;
        justify-self: auto;
        border: solid 3px black;
    }
    .showcase-form .form-control{
        margin: 20px 0;
    }
    .showcase-form input {
        border: 0;
        border-bottom: 1px solid black;
        width: 80%;
        padding: 3px;
        font-size:16px;
        background-color: whitesmoke;
    }

    .showcase .register-submit-home{
        color: darkgrey;
        border: 2px solid black;
        border-radius:30px;

    }


    .showcase .grid{
         overflow:visible ;
     }

    .register-submit-home:hover{
        border:2px #fff solid;
        background-color: dimgrey;
        transform: scale(0.98);
    }


    .grid{
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: center;
        height: 100% ;
    }
    .card{
        background-color: gray;
        border-radius: 10px;
        box-shadow: 0 3px 10px #000000;
        padding: 20px;
        margin: 20px;
    }
    .success{
        color: white;
    }
    .error{
        color: red;
    }

    img{
        max-height: 60%;
        max-width: 60%;
        object-fit: scale-down;
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>
