<section class="stats">
    <div class="container">
        <h3 class="heading">

        </h3>

        <div class="grid grid-3">
            <div class="icon-grid">
                <img src="57b3956938cfaf4781b4ece7f4cd0c59.jpg" class="about-icon">
                <h3>206</h3>
                <p class="text secondary">Years In Service</p>
            </div>
            <div class="icon-grid">
                <img src="download.jfif" class="about-icon">
                <h3>23444</h3>
                <p class="text secondary">Users Online</p>
            </div>
            <div class="icon-grid">
                <img src="Abundant%20Editorial%20Illustrations%20from%20Sebastien%20Thibault%20_%20Inspirationfeed.jfif" class="about-icon">
                <h3>83257 </h3>
                <p class="text secondary">Pieces Of Art Illegally Sold</p>
            </div>
        </div>
    </div>
</section>

<style>
    .grid-3 {
        display: flex;
        gap: 100px;
        justify-content: space-around;
        align-items: center;
        grid-auto-columns: auto;
        border: solid 2px black;
        box-sizing: border-box;
    }

    .about-icon{
        max-width: 10rem;
        max-height: 10rem;
    }
    .stats{
        margin: 10px;
    }
    img{
        border: solid black 2px;
        width:  100px;
        height: 100px;
        object-fit: cover;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    h3{
        margin: 0;
    }


</style>